.root{
    /*-fx-font-size: 12pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(160, 200, 200);
    -fx-background: rgb(110, 100, 200);*/
}
.nav {
    -fx-background-color: #29323F;
}
.navLabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18px;
    -fx-text-fill: #e8e8e8;
}
.navName:hover {
    -fx-cursor: hand;
    -fx-text-fill: #FC9867;
}

.navLabel:hover {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-text-fill: #FC9867;
}
.navName {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #e8e8e8;
    -fx-font-family: "Segoe UI";
}

.main {
    -fx-background-color: #172027;
}

.mainLabel {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #e8e8e8;
}
.head {
    -fx-font-size: 25px;
    -fx-text-fill: #e8e8e8;
}

.settingsLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #e8e8e8;
}


.tabs {
    -fx-background-color: #29323F;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: transparent transparent #FC9867 transparent;
    -fx-text-fill: #e8e8e8;
    -fx-font-family: "Segoe UI";
}

.label {
    -fx-text-fill: #e8e8e8;
}
/***********************************/
.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #29323F;
}
.table-view .filler {
    -fx-background-color: #29323F;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #e8e8e8;
}

.table-view .column-header {
    -fx-background-color: transparent;
}
/***********************************/

/***********************************/
.list-view {
    -fx-background-color: transparent;
}
/***********************************/


/***********************************/
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #29323F;
}

.jfx-tab-pane .tab-header-area .tab-down-button {
    -fx-background-color: WHITE;
    -fx-min-width: 0.8em;
    -fx-max-width: 0.8em;
    -fx-min-height: 1.3em;
    -fx-max-height: 1.3em;
}

.jfx-tab-pane .tab-header-area .control-buttons-tab .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

.jfx-tab-pane .tab-header-area .tab-down-button:left {
    -fx-shape: "M 742,-37 90,614 Q 53,651 53,704.5 53,758 90,795 l 652,651 q 37,37 90.5,37 53.5,0 90.5,-37 l 75,-75 q 37,-37 37,-90.5 0,-53.5 -37,-90.5 L 512,704 998,219 q 37,-38 37,-91 0,-53 -37,-90 L 923,-37 Q 886,-74 832.5,-74 779,-74 742,-37 z";

}

.jfx-tab-pane .tab-header-area .tab-down-button:right {
    -fx-shape: "m 1099,704 q 0,-52 -37,-91 L 410,-38 q -37,-37 -90,-37 -53,0 -90,37 l -76,75 q -37,39 -37,91 0,53 37,90 l 486,486 -486,485 q -37,39 -37,91 0,53 37,90 l 76,75 q 36,38 90,38 54,0 90,-38 l 652,-651 q 37,-37 37,-90 z"
}


.jfx-tab-pane .headers-region > .tab-selected-line{
    -fx-pref-width: 1px !important;
    -fx-pref-height: 2px;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #FC9867;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #FC9867;;
}


.jfx-tab-pane .headers-region .tab:closable {
    -fx-border-color: rgba(255,255,255, .87);
    -fx-border-width: 0 2 0 0;
    -fx-border-style: dotted;
    -fx-border-insets: 8 0 8 0;
    -fx-padding: 0 8 0 8;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: rgba(255,255,255, .87);
    -fx-font-weight: BOLD;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 16;
}
.jfx-tab-pane .headers-region .tab:closable .tab-container .tab-label{
    -fx-padding: 0 8 0 6;
}



.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: WHITE;
}